* {
    box-sizing: border-box;
}

body {

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #c4c4d1;
    color: #000;
    margin: 0;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
}

h2, h3 {
    font-size: 2rem;
}

header,
footer {
    background-color: #000;
    color: #fff;
}

header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 1.5rem;
    margin-left: 1rem;
}



main {
    padding: 2rem 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

p {
    font-size: 1.2rem;
}

section {
    margin-bottom: 2rem;
}

/* NAV */

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}


nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-right: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

.hamburger-btn {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: .9rem;
}

#filter-buttons {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#filter-buttons button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
}

#filter-buttons button:hover {
    background-color: #333;
}

#instrument-container {
    display: grid;
    gap: 1.5rem;
}

.instrument-card {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.instrument-card h4 {
    margin-top: 0;
}

.family-grid {
    display: grid;
    gap: 1.5rem;
}

.family-grid a {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    color: #000;
}

.family-grid a:hover {
    color: #6d6210;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.hero h2 {
    text-align: center;
    font-size: 2.5rem;
}

blockquote {
    font-style: italic;
    margin: 1rem 0;
}

blockquote cite {
    display: block;
    margin-top: .5rem;
    font-style: normal;
    font-weight: 500;
}

.family-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.family-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.family-section h3 {
    font-size: 2rem;
}

.family-section img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    border-radius: 10px;
}


.emotional {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 500;
}

/*DESKTOP & TABLET*/

@media screen and (min-width: 768px) {
    #instrument-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .family-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .family-section {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .family-section img {
        width: 40%;
        aspect-ratio: 4 / 3;
        height: 500px;
    }
}

@media screen and (min-width: 1024px) {
    #instrument-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* FORM */

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: .4rem;
    font-weight: 500;
}

input,
select,
textarea {
    padding: .7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #000;
}

form button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: .8rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #333;
}

input:required, textarea:required, select:required {
    border-left: 3px solid red;
}

input:required:valid,
textarea:required:valid,
select:required:valid {
    border-left: 3px solid green;
}


/* FOOTER */

footer {
    text-align: center;
    padding: 1rem;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* NAV MOBILE*/
@media screen and (max-width: 768px) {

    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #000;
        padding: 1rem 0;
        text-align: center;
    }

    nav.open ul {
        display: flex;
    }

    .hamburger-btn {
        display: block;
        margin-right: 1rem;
        font-size: 2.2rem;
        
    }
}