body {
    background-color: #999;
    color: #000;
    font-family: "Roboto", sans-serif;
}

header, footer {
    background-color:#000;
    color: #fff;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-style: normal;
}