body {
    background-color: #eee;
}

h1 {
    text-align: center;
    font-size: larger;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture {
    display: block;
}

footer {
    text-align: center;
}