* {
    margin: 0;
    padding: 0;
}

body {
    
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
}

header {
    padding: 2rem 0 0 0;
    grid-column: 1/4;
   
}

h1 {
    color: white;
    font-size: 30px;
    padding-left: 2rem;
}

nav {
    margin: 2rem 0 0 0;
    
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    align-items: center;
    height: 80px;
}

.navigation li {
    flex: 1 1 auto;
    
}

.navigation a {
    display: block;
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgb(233, 233, 131) ;
}

main {
    background-color: grey;
    grid-column: 1/3;
    padding: 1rem
}

.right-sidebar {
    background-color: white;
    grid-column: 3/4;
    padding: 1rem;
    padding-right: 10rem;
    
}

header, footer {
    background-color: rgb(46, 45, 45);
}


footer {
    grid-column: 1/4;
    padding: 2rem;
    padding-bottom: 15rem;
    text-align: center;
    color: white;
}

main, .right-sidebar, footer {
    font-size: large;
}