@media screen and (min-width: 750px) {
    
    #menu {
            display: none;
    
    }
    
    header {
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    
    nav {
        display: flex;
        color: var(--nav-color);
        flex: 1;
        justify-content: center;
    
    }

    .navigation {
        flex-direction: row;
        gap: 1.5rem;
    }

    header p {
        padding-top: 0.35rem;
        
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
        font-size: 30px;
        
    }

    .stuff {
        margin: 1rem auto;
    }

    main {
        max-width: 1500px;
        margin: 0;
    }

    div {
           
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}